* {
   margin:0;
   box-sizing: inherit;
}
/* Common */
:root{
   --color-white: #fff;
   --color-black: #000;
   --primary-color: #EE4D2D;
   --text-color:#333 ;
   --border-color: #dbdbdb;
   --header-height: 120px;
   --navbar-height: 30px;
   --header-width-search-height: calc(var(--header-height) - var(--navbar-height));
   --app-container-color: #f5f5f5;
   --box-shadow: 0 2px #dbdbdb;
   --gold-star-color: #FFCE3E;
   --sticker-color: rgba(255, 213, 44, 0.96);
}
/* Responsive */
.grid {
   width: 1400px;
   max-width: 100%;
   margin: 0 auto;
}
.grid__full-width {
   width: 100%;
}
.grid__row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
/* Test column */
.grid__column{
   margin-top: 32px;
}
.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: calc(100% / 6);
}
.grid__column-10 {
  width: calc(100% - calc(100% / 6));
  padding-left: 5px;
  padding-right: 5px;
}
.grid__column-2-5 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
/* Animation */
@keyframes fadeIn {
  from { 
     opacity: 0;
  } 
  to { 
     opacity: 1;
   }
}
@keyframes growth {
   from {
      transform: scale(var(--growth-from));
   }
   to {
      transform: scale(var(--growth-to));
   }
}
.modal{
   position: fixed;
   top:0;
   bottom: 0;
   right: 0;
   left: 0;
   display: flex;
   animation: fadeIn linear 0.15s;
   /* display: none; */
}
.modal__overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
}
.modal__body{
   --growth-from: 0.7;
   --growth-to: 1;
   margin: auto;
   position: relative;
   z-index: 1;
   animation: growth linear 0.15s;
}
.btn {
  height: 34px;
  border: none;
  cursor: pointer;
  min-width: 124px;
  padding: 0px 16px;
  font-size: 1.7rem;
  border-radius: 2px;
  line-height: 1.6rem;
  align-items: center;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}
.btn.btn--size-s {
   height: 32px;
   font-size: 1.4rem;
   padding: 0 20px;
}
.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn-primary {
  background-color: var(--primary-color);
  color: var(--color-white);
  line-height: 1.9rem;
}
.btn-disable{
   background-color: #c3c3c3;
   color: #949494 ;
   cursor: default;
}
/* Selection */
.select-input {
   min-width: 160px;
   padding: 0 16px;
   height: 34px;
   border-radius: 2px;
   display: flex;
   position: relative;
   align-items: center;
   justify-content: space-between;
   background-color: var(--color-white);
}
.select-input:hover .select-input__list {
   display: block;
}
.select-input__label {
   font-size: 1.4rem;
}
.select-input__label-icon {
   top: 0;
   right:0;
   margin: 0;
   color: #4a4a4a;
   font-size: 1.6rem;
   position: relative;
}
.select-input__list {
   left: 0;
   right: 0; 
   z-index: 1;
   display: none;
   list-style: none;
   padding: 12px 16px;
   position: absolute;
   border-radius: 2px;
   top: calc(100% + 4px);
   background-color: var(--color-white);
}
.select-input__list::before {
   content: "";
   width: 100%;
   right: 0;
   top: -12px;
   height: 20px;
   display: block;
   position: absolute;
}

.select-input__item-link {
   font-size: 1.4rem;
   color: var(--text-color);
   text-decoration: none;
   display: block;
   padding: 6px 0;
}
.select-input__item-link:hover {
   color: var(--primary-color);
}

/*  Pagination */
.pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
}
.pagination-item {
   padding: 0 12px;
}
.pagination-item--active .pagination-item__link {
   background-color: var(--primary-color);
   color: var(--color-white);
}
.pagination-item--active:hover .pagination-item__link {
   background-color: #ed5c3f;
}
.pagination-item__link {
   --height-pag: 30px;
   display: block;
   text-decoration: none;
   font-weight: 300;
   font-size: 2rem;
   color: #939393;
   min-width: 40px;
   height: var(--height-pag);
   line-height: var(--height-pag);
   text-align: center;
   border-radius: 2px;
}
.pagination-item__link-empty {
   cursor: default;
}
